pkgbase = bcache-tools
	pkgdesc = Tools for bcache filesystem
	pkgver = r342.2bb8cdf
	pkgrel = 1
	url = https://bcachefs.org/
	arch = x86_64
	license = GPL2
	makedepends = linux-bcachefs-headers
	depends = util-linux
	depends = libscrypt
	depends = libsodium
	depends = liburcu
	depends = zstd
	source = git+https://evilpiepirate.org/git/bcachefs-tools.git
	sha256sums = SKIP

pkgname = bcache-tools

