pkgbase = bcache-tools
	pkgdesc = Tools for bcache filesystem
	pkgver = r1081.c8bec83
	pkgrel = 1
	url = https://bcachefs.org/
	arch = x86_64
	license = GPL2
	makedepends = cargo
	makedepends = linux-bcachefs-headers
	makedepends = clang
	makedepends = valgrind
	depends = util-linux
	depends = libaio
	depends = libsodium
	depends = liburcu
	depends = lz4
	depends = zlib
	depends = zstd
	source = git+https://evilpiepirate.org/git/bcachefs-tools.git
	source = bcachefs-install
	source = bcachefs-hooks
	sha256sums = SKIP
	sha256sums = 45e38cc030bc87b707589ccb2d9d80018292e3b00c4472ce497e409ffbaaf31b
	sha256sums = 7e5e8c657b62e6a398d966c4fc1c837062c2595cf28ad49fe9eae61b29c27688

pkgname = bcache-tools
